/*  cabeçalho */
body {
  background-color: #ffffff;
}

header {
  background-color: #216db9;
  margin-bottom: 30px;
}

.div-info {
  padding: 5px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

/* tabela */
#tabelaCursos .numero {
  text-align: center;
}

#tabelaCursos .content:hover {
  background-color: #4c7dad;

  color: white;
}

#tabelaCursos .content:active {
  background-color: #3877b5;
  color: white;
}

.semestre-par {
  background-color: #eeeeee;
}

.semestre-impar {
  background-color: #dddddd;
}

/* janela modal */
.mdl-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.mdl-text-justified {
  text-align: justify;
}

.mdl-text-centered {
  text-align: center;
}